body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.div1 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.div2 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
